.container5 {
   
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left:15px;
    padding-right:15px;
    height: 100%;
}

.form5{
    text-align: left;
}


.card5{
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
    height: 550px;
    margin-left: 200px;
   
   
    width: 900px;
    padding: 20px 20px 20px 20px;
    
}

.row5{
    width: 500px;
   }
.col5 {
    width: 250px;
    margin-top: 5px;
    
  }
  .btn511 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    width: 150px;
  }
  .btn512 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    width: 150px;
  }