.register-form3 {
    width: 1350px;
    align-items: center;
    margin-top: 70px;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    padding-right: 20px;
    padding-left: 30px;
  }
  .title3 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  .card3 {
    /* background-color: whitesmoke; */
    margin-left: 530px;
    padding: 20px 20px 20px 20px;
  }

  .row3 {
    width: 500px;
  }
  .col3 {
    width: 250px;
    margin-top: 70px;
    align-items: center;
  }
  .btnA31 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    width: 150px;
  }
  .btnC32 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    width: 150px;
  }
  