.container41{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

.breadcrumb41{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}

.container42{
    overflow-y: scroll;
    padding: 10px 10px 10px 10px;
    width: 80px;
    margin-top: 40px;
    height: 450px;
}

.container43{
    border: 1px solid lightgray;
    /* height: 450px; */
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px #dfdfdf;
    padding: 20px 20px 20px 20px;
}

.col41{
    margin-top: 40px;
    height: 450px;
}

.col42{
    margin-top: 40px;
    width: 200px;
    /* height: 450px; */
}

.img41{
    width: 70px;
    height: 60px;
}

.img42{
    width: 600px;
    height: 350px;
}

.btn41{
    width: 205px;
    height: 43px;
    font-size: large;
    font-weight: bold;
}

.btn42hd73{
    width: 205px;
    background-color: #1890ff;
    border-radius: 40px;
    height: 43px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.btn43sfs:hover{
    background-color: whitesmoke;
}

.title41{
    margin-left: 30px;
}

.content41{
    margin-left: 60px;
    font-size: medium;
}

.text41{
    font-size: medium;
}
