
.alert-card4{
    /* border: 2px solid red; */
    background-color: rgb(240, 128, 128);
    border-radius: 5px;
}

.alert-content4{
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 5px;
}