.form51{
    margin-top: 160px;
    margin-left: 560px;
    text-align: center;
    width: 400px;
}
.card51{
   
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, alpha0.2),0 8px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.button51 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    width: 150px;
  }
.login-form-link{
    
    
    text-decoration: underline;
    
}