.row2{
    margin-left: 1rem;
}

/* .col{
    margin-left: 1rem;
} */

.icons2{
    margin-right: 10px;
}

.button2{
    width: 100px;
    margin-left: 10px;
}

.container21 {
   
    margin-right:40px;
    margin-left:40px;
    margin-top: 25px;
    margin-bottom: 60px;
    padding-left:15px;
    padding-right:15px;
    height: 100%;
}