.container29 {
   
    margin-right:300px;
    margin-left:300px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left:15px;
    padding-right:15px;
    height: 100%;
}

.form2{
    text-align: left;
}

.form-button2{
   
    margin-top: 30px;
    margin-left: 250px;
  
   
    
}
.card2{
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
    
}
.div2{
   
    margin-top: 20px;
    margin-left: 200px;
    width: 400px;


  
    
}