
.container41{
    align-content: center;
    width: 1000px;
    background-color: white;
    border-radius: 5px;
    margin: 2rem 2rem 2rem 9.3rem;
    padding: 2rem 2rem 2rem 2rem;
}

.header4{
    text-align: center;
}

.container42{
    padding: 1.5rem 1rem 1rem 0rem;
    text-align: center;
    height: 350px;
    border: 2px solid lightgray;
}

.button41{
    width: 200px;
    margin-top: 20px;
}

.btn42{
    width: 50px;
    margin-top: 10px;
}