.container1 {
    background-color: white;
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 5px;
}

.card1{
    margin: 2rem 1rem 0rem 1rem;
    border-radius: 5px;
}

.row4{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.col41{
    /* margin-right: 1rem; */
    width: 150px;
}

.col42{
    /* margin-right: 1rem; */
    width: 400px;
}

.btn4{
    width: 200px;
}

.addImg{
    font-size: 80px;
}

.optionRow4:hover{
    border: 0.1rem solid lightblue;

}

.button4{
    width: 70px;
    /* margin-left: 3px; */
}