.site-card-wrapper{
    margin: 4rem 4rem 4rem 4rem;
    

}

.col{
    /* border: 1px solid gray; */
    border-radius: 5px;
}
.container2{
    background-color: white;
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 5px;
}