*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
}

/* .Content2{
    background-color: white;
} */

html{
    overflow: scroll;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.navbar2{
    /* position: sticky;
    top: 0; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    /* background-color: #00828c; */
    color: white;
    background: linear-gradient(-45deg,  #23D5AB, #23A6D5);
    animation: change 10s ease-in-out infinite;
    /* background: linear-gradient(-45deg, #C576F6, #A020F0, #23A6D5, #23D5AB); */
    /* #EE7752, #E73C7E, orange pink*/
    /* #23A6D5, #23D5AB  blue shades*/ 
    /* #6C0BA9, #51087E, voilet shades */
    
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.logo{
    font-size: 30px;
    color: white;
    
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.nav-links :hover{
    color: black;
}

.home,
.category,
.services,
.signup,
.cart
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 35px 15px;
    margin: 0 5px;
    cursor: pointer;
}
