.products2{
    /* margin: 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
    grid-auto-rows: minmax(600px, auto);
    column-gap: 20px;
    /* row-gap: 5px; */
    margin-left: 35px;  
    /* margin-bottom: 20px;  */
    /* margin-top: 10px; */
 }

 .container41afsf{
     width:100%;
     height: 100%;
     background-color: white;
     padding: 2rem 2rem 2rem 2rem;
 }