.selectAddressCard41{
    margin-top: 10px;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}

.selectAddressCard41:hover{
    box-shadow: 1px 1px 2px 2px rgba(129, 126, 126, 0.2), 8px 8px 8px 8px rgba(146, 208, 255, 0.19);
    border-radius: 10px;
}