.container19 {
   align-items: center;
   text-align: center;
    margin-right:180px;
    margin-left:180px;
    margin-top: 60px;
    padding-left:45px;
    padding-right:45px;
}

.tbody1{
    align-items: left;
    text-align: left;
}
.button12{
    margin-left:295px;
    align-items: center;
    text-align: center;
    width: 170px;
}
.btn19{
    width: 150px;
    margin-left: 130px;
    align-items: center;
    text-align: center;

}
.table11{
   text-align: left;
   align-items: center;
   margin-left: 20px;
   margin-right: 30px;
   

}
.card19{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 100px;
    align-items: center;
    border-radius: 5px;
    background-color:white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0 0 0 0.2),0 8px 20px 0 rgba(0 0 0 0.19);
}
    
.form1{
    width: 1250px;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    padding-right: 20px;
    padding-left: 30px;
}

    
    

.div1{
   
    margin-top: 20px;
    margin-left: 200px;
    width: 400px;


  
    
}