.card4{
    width: 400px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: white;
    margin: 250px 300px 200px 400px;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
}