.container5 {
   
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left:15px;
    padding-right:15px;
    height: 100%;
}

.row5{
    width: 500px;
   }
.col5 {
    width: 250px;
    margin-top: 5px;
    
  }

.btn51 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
    width: 150px;
  }
 .btn52 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px;
    width: 150px;
  }

  .card5{
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
    height: 500px;
    margin-left: 200px;
   
   
    width: 750px;
    padding: 20px 20px 20px 20px;
    
}

