.row4{
    margin-left: 1rem;
}

/* .col{
    margin-left: 1rem;
} */

.icons4{
    margin-right: 10px;
}

.container4asdfj37r8{
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
}

.button4jdh82{
    width: 100px;
    margin-left: 10px;
}