.btn14{
    width: 110px;
    margin-left: 205px;
    align-items: center;
    text-align: center;

}
.card18{
   margin-top: 20px;
   height: 450px;
   margin-left: 300px;
   padding: 20px 20px 20px 20px;
    margin-right: 300px;
    align-items: center;
    border-radius: 5px;
    background-color:white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0 0 0 0.2),0 8px 20px 0 rgba(0 0 0 0.19);
}
    
    .form12{
        width: 1350px;
        align-items: left;
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px 20px 20px 20px;
        padding-right: 20px;
        padding-left: 30px;
    }
    .input{

 width: 420;
 margin-left: 10px;

    }

