.feedback1{
   
    margin-left: 180px;
    text-align: center;
    width: 400px;
    text-decoration: solid;
    font-weight:600;
    font-size: x-large;
}
.feedback2{
   
    margin-left: 190px;
    text-align: center;
    width: 400px;
    text-decoration: solid;
    font-weight:600;
    font-size: large;
}
.login-form-button{
   
    margin-left: 180px;
    text-align: center;
    width: 250px;
    text-decoration: solid;
    font-weight:600;
  
}

.card5{
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, alpha0.2),0 8px 20px 0 rgba(0, 0, 0, 0.19);
    
}