.container4111{
    width: 100%;
    padding: 2rem 7rem 2rem 7rem;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

.innerContainer411{
    padding: 1rem 1rem 1rem 1rem;
    border: 0.01rem solid lightgray;
    border-radius: 10px;
}

.productDetails4323{
    margin: 1rem 1rem 1rem 1rem;
}

.paymentCardImg41{
    width: 60px;
    height:30px;
    margin-right: 5px;
}