.register-form3 {
  width: 1350px;
  align-items: center;
  margin-top: 70px;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  padding-right: 20px;
  padding-left: 30px;
}
.title3 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
.card3 {
  border-radius: 10px;
  height: 500px;
  margin-left: 400px;
  padding: 20px 20px 20px 20px;
}
.row3 {
  width: 500px;
}
.col3 {
  width: 250px;
  margin-top: 70px;
  align-items: center;
}
.btnA31 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80px;
  width: 150px;
}
.btnC31 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  width: 150px;
}
.name3{
  margin-top: 500px;
}