.form5{
    margin-top: 160px;
    margin-left: 560px;
    text-align: center;
    width: 400px;
}
.card5{
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, alpha0.2),0 8px 20px 0 rgba(0, 0, 0, 0.19);
    
}