
.container5{
   
    margin-right:450px;
    margin-left:380px;
    margin-top: 60px;
    padding-left:15px;
    padding-right:15px;
    
}

.form-button5{
   
    margin-top: 30px;
    margin-left: 200px;
  
   
    
}
.card5{
    
   
    
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, alpha0.2),0 8px 20px 0 rgba(0, 0, 0, 0.19);
    

    
}
.div5{
   
    margin-top: 20px;
    margin-left: 130px;
    width: 400px;


  
    
}