.banner2{
    height: 400px;
    /* background-color: white; */
}

.division2{
    margin-top: 1rem;
    background-color: white;
}

.wrapper{
    margin: 20px;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    margin-right: 10px;
}

.title2{
    margin-top: 10px;
    margin-left: 20px; 
}

.products2{
    /* margin: 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
    grid-auto-rows: minmax(600px, auto);
    column-gap: 20px;
    /* row-gap: 5px; */
    margin-left: 35px;  
    /* margin-bottom: 20px;  */
    /* margin-top: 10px; */
 }

.div231{
    height: 65px;
    width: auto;
    margin-top: 15px;
    /* margin-bottom: 0;
    padding-bottom: 0; */
    /* padding: 5px 5px 5px 5px; */
    text-align: center;
}

.div232{
    /* height: 60px; */
    width: 340px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}


.productCard22{
    border-bottom: 2px solid lightgray;
}

.productCard22:hover{
    box-shadow: 0 1px 1px 0 rgba(129, 126, 126, 0.2), 0 8px 20px 0 rgba(97, 95, 95, 0.19);
    border-radius: 10px;
}
.title23{
    text-decoration: line-through;
    color: brown;
    float: right;
}
