.div21{
    margin-top: 20px;
    height: 40px;
    background-color: white;
    padding: 10px 10px 10px 10px;

}
   
.div22{
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px 10px 10px 10px;
    font-size: larger;

}

.col2{
    border-radius: 5px;
    border-bottom: 2px solid lightgray ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 170px;
}

.card2{
    margin-left: 470px;
    margin-right: 470px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.div23{
    height: auto;
    width: 900px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: larger;

}

.div24{
    height: 70px;
    width: 715px;
    padding: 10px;
    /* text-align: center; */
    background-color: teal;
    color: white;
    font-size: larger;
}

.div25{
    padding: 15px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    font-size: larger
}

.div26{
    height: 50px;
    width: 700px;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    align-self: center;
    font-size: large;
}