.search-box{
    /* background: #00828c; */
    height: 35px;
    border-radius: 40px;
    padding: 35px 15px;
}



.search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
    border-radius: 40px;
    background-color: whitesmoke;
}

.search-box:hover .search-btn{
    background: #2f3640;
    color: #e84118;
}

.search-btn{
    color:#e84118 ;
    /* #e84118; */
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    background: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s; */
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: black;
    font-size: 15px;
    transition: 0.4s all;
    line-height: 35px;
    width: 0;
}